<button (click)="modalIsOpen=true" title="Edit icon-btn" class="icon-btn">
    <svg width="20px" height="20px" viewBox="0 0 1024 1024" class="icon" version="1.1"
        xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path
                d="M823.3 938.8H229.4c-71.6 0-129.8-58.2-129.8-129.8V215.1c0-71.6 58.2-129.8 129.8-129.8h297c23.6 0 42.7 19.1 42.7 42.7s-19.1 42.7-42.7 42.7h-297c-24.5 0-44.4 19.9-44.4 44.4V809c0 24.5 19.9 44.4 44.4 44.4h593.9c24.5 0 44.4-19.9 44.4-44.4V512c0-23.6 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7v297c0 71.6-58.2 129.8-129.8 129.8z"
                fill="#3688FF"></path>
            <path
                d="M483 756.5c-1.8 0-3.5-0.1-5.3-0.3l-134.5-16.8c-19.4-2.4-34.6-17.7-37-37l-16.8-134.5c-1.6-13.1 2.9-26.2 12.2-35.5l374.6-374.6c51.1-51.1 134.2-51.1 185.3 0l26.3 26.3c24.8 24.7 38.4 57.6 38.4 92.7 0 35-13.6 67.9-38.4 92.7L513.2 744c-8.1 8.1-19 12.5-30.2 12.5z m-96.3-97.7l80.8 10.1 359.8-359.8c8.6-8.6 13.4-20.1 13.4-32.3 0-12.2-4.8-23.7-13.4-32.3L801 218.2c-17.9-17.8-46.8-17.8-64.6 0L376.6 578l10.1 80.8z"
                fill="#5F6379"></path>
        </g>
    </svg>
</button>

<div *ngIf="modalIsOpen" class="fixed top-0 left-0 w-screen h-screen bg-black/50 z-[100] flex flex-row items-center justify-center">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="bg-white rounded-md p-6  w-[500px] space-y-4">
        <h6>New Customer</h6>
        <hr>
        <div class="flex flex-row items-center justify-between gap-3">
            <input  formControlName="firstName"  placeholder="First Name *" type="text" class="w-1/2">
            <input  formControlName="lastName" placeholder="Last Name *" type="text" class="w-1/2">
        </div>
        <input  formControlName="image" placeholder="Photo URL *" type="url" class="w-full">
        <input  formControlName="email" placeholder="Email *" type="email" class="w-full">
        <textarea  formControlName="address" placeholder="address *" rows="3" class="w-full"></textarea>
       <div class="grid grid-cols-2 items-center">
     <div class="flex flex-row gap-1 items-center w-1/2">
       <span> $</span> <input  formControlName="balance" type="number">
     </div>
        <div class="flex flex-row gap-3 text-xs font-semibold w-[40%] translate-x-10">
            <label for="male" class="flex flex-row items-center gap-1">
                <input  formControlName="gender" value="Male" type="radio" name="gender" id="male">
                Male
            </label>
            <label for="female" class="flex flex-row items-center gap-1">
                <input  formControlName="gender" value="Female" type="radio" name="gender" id="Female">
                Female
            </label>
        </div>
       </div>
       <div class="mt-10 flex flex-row gap-6">
        <button (click)="modalIsOpen=false" class="text-btn">
            Cancel
        </button>
        <button type="submit" [disabled]="!form.valid" class="primary-btn disabled:bg-amber-200 disabled:cursor-not-allowed !important">
            add
        </button>
       </div>
    </form>


</div>