<section class="py-6 space-y-6">
    <div class="grid items-center justify-center md:justify-start md:flex md:flex-row gap-9 animate-[on-view-right_300ms]">
        <div class="border-4 border-dashed rounded-lg w-full md:w-60 p-4 flex flex-col justify-between h-[120px] md:h-[160px]">
            <h6 class="text-secondary">Total Transaction</h6>
            <h2 class="text-3xl font-bold font-special">{{totalTransactions}}</h2>
        </div>
        <div class="border-4 border-dashed rounded-lg w-60 p-4 flex flex-col justify-between h-[120px] md:h-[160px]">
            <h6 class="text-secondary">Total Customers</h6>
            <h2 class="text-3xl font-bold font-special">{{totalCustomers}}</h2>
        </div>
        <div class="border-4 border-dashed rounded-lg w-60 p-4 flex flex-col justify-between h-[120px] md:h-[160px]">
            <h6 class="text-secondary">Total Balance</h6>
            <h2 class="text-3xl font-bold font-special">$ {{totalBalance}}</h2>
        </div>
    </div>
    <div class="space-y-4 animate-[on-view-right_500ms]">
        <h6 class="border-l-4 border-purple-900 pl-6">Last updated customers</h6>
        <div class="flex flex-col md:flex-row gap-4">
            <div *ngFor="let customer of lastUpdatedCustomers"
                class=" bg-white rounded-md shadow-sm w-full md:w-[450px] justify-between p-2 flex flex-row items-center">
                <img [src]="customer.image||'../../assets/no-photo.png'" alt=""
                    class="w-10 md:w-12 h-10 md:h-12 object-cover rounded-full">
                <h6 class="text-sx md:text-lg">{{customer.firstName}} {{customer.lastName}}</h6>
                <p class="text-[11px] hidden md:block text-gray-600 italic">{{customer.email}}</p>

                <div
                    class="py-1 font-semibold px-4 bg-purple-100 rounded-md border-purple-900 text-purple-900 font-special">
                    ${{customer.balance||0}}
                </div>

            </div>
        </div>
    </div>
    <div class="space-y-4 animate-[on-view-right_700ms]">
        <h6 class="border-l-4 border-purple-900 pl-6">Last added customers</h6>
        <div class="flex flex-col md:flex-row gap-4">
            <div *ngFor="let customer of lastAddedCustomers"
                class=" bg-white  w-full md:w-[450px] justify-between rounded-md shadow-sm gap-6 p-2 flex flex-row items-center">
                <img [src]="customer.image||'../../assets/no-photo.png'" alt=""
                    class="w-10 md:w-12 h-10 md:h-12 object-cover rounded-full">
                <h6>{{customer.firstName}} {{customer.lastName}}</h6>
                <p class="text-[11px] hidden md:block text-gray-600 italic">{{customer.email}}</p>

                <div class="py-1 font-semibold px-4 bg-purple-100 rounded-md border-purple-900 text-purple-900">
                    ${{customer.balance||0}}
                </div>
            </div>
        </div>
    </div>
</section>